<form action="/api/products" method="post" id="add_product">
    <div class="new_product">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Hair's name">
        </div>
        <div class="form-group">
            <label for="category" class="text-light">Category</label>
            <input type="text" name="category" value="" placeholder="Type of Product">
        </div>
        <div class="form-group">
            <label for="discription" class="text-light">Discription</label>
            <input type="text" class="discription" name="discription" value="" placeholder="About Product">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">SAVE</button>
        </div>
    </div>

</form>