.desktop-dropdown-item{
   min-height: 18vh;
   background-color: white;
   
   animation-name: fadeIn;
   animation-duration: 0.5s;

   position: absolute;
   a{
      text-decoration: none;
      color:$ink;
      &:hover{
         color:rgba(136, 130, 130, 0.836);
      }
   }
   p{
      font-weight: 600;
      font-size: 1.1rem;
   }
}