@mixin card-intro ($link){
   height: 100%;
   width: 100%;
   position: relative;
   &::before {  
      content: "";
      background-image: url($link);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.25;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
   }
}

.card-introduction{
   min-height: 30vh;
   animation-name: fadeIn;
   animation-duration: 0.5s;
   &-1{
      @include card-intro('/logo-removebg.png');
      h1{
         text-transform: uppercase;
         
      }
   }
   &-2{
      @include card-intro('/thumbnail1-removebg-preview.png');
   }
   &-3{
      background-image: url('/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
   &-4{
      background-image: url('/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
   &-5{
      background-image: url('/logo.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }
}

