.notification{
   background-color: black;
   width: 100%;
   color:white;
   margin:auto;
   position: relative;

   p{
      font-size: 11px;
      margin: 0;

   }
}
.header-product{
   .search-icon{
      width: 16px;
      height: 16px;
   }
}