.header{
   position: relative;
   .navbar{
      padding: 4px 0 0 0;
      background-color: $ink;
      .nav-link{
         margin-left:32px;
         position: relative;
         @include hover_underline;
      }
      .dropdown:hover .dropdown-menu{
         display: block;
      }
   }
}


