.navbar{
   padding: 4px 0 0 0;
   background-color: $ink;
   position: relative;
   .nav-link{
      margin-left:32px;
      position: relative;
      &:after{
         content: '';
         position: absolute;
         width: 100%;
         transform: scaleX(0);
         height: 1px;
         bottom: 0;
         left: 0;
         background-color: #fff;
         transform-origin: bottom right;
         transition: transform 0.25s ease-out;
      }
      &:hover::after{
         transform: scaleX(1);
         transform-origin: bottom left;
      }   
   }

}
.recommended-panel{
   display: none;
   position: absolute;
   background-color: red;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
.nav-link:hover .recommended-panel {
   display: block;
   margin-top: 0; // remove the gap so it doesn't close
}
