.main-product{
   .title-sort{
      .category-title{
         font-weight: 300;
         font-size: 32px;
         line-height: 33px;
      }
      .sort{
         .btn{
            --bs-btn-border-width: 0px;
         }
         .text{
            width: 150px;
            text-align: left;
         }
      }
   }
   .category-showprduct{
      min-height: 600px;
      .list-category{
         .category{
            height: 42px;
            background-color: red;
            margin-bottom: 4px;
         }
      }
      .col-9{
         max-height: 1280px;
         overflow: auto;
      }
   }
}