.our-products{
   margin-top: 200px;
   background-color: #f6f6f6;
   padding-bottom: 24px;
   .title{
      margin-bottom: 0;
   }
   .link{
      right:50px ;
   }
   .description{
      margin-top: 12px;
      font-style: italic;
      font-size: 18px;
      font-family: 'Cardo',serif;
   }
}