.main{
   min-height: 100vh;  

   .text-image{
      margin-top: 19vh;
      p.slogan{
         width: 100%;
         font-size: 4rem;
         font-weight: 900;
         font-family: 'Oswald', sans-serif;
         color: #96979b;
         transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
         cursor:default;
         &:hover{
            box-shadow: inset 560px 0 0 0 $ink;
            color: white;
         }
      }
      p.bio{
         font-size: 1.2rem;
         margin: 1rem 0 3rem 0; 
      }
   }

}
